*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

nav.navBar{
    float: left;
    width: 335px;
    height: 100%;
    border-right: 1px solid #eee;
    padding: 0;
    
}

ul{
    height: 85%;
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

ul li.itemMenu a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

div.navBarTitle{
    padding-bottom: 23px;
    padding-left: 15px;
    padding-top: 15px;
}

ul.menu{
    padding: 0;
}

li.itemMenu{
    margin: 4px 0;
    padding: 12px;
}

span.icon{
    font-size: 24px;
}

div.more a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

div.container{
    height: 100vh;
    width: 80%;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

div.profile{
    margin-left: 320px;
    padding-left: 320px;
    padding-right: 15px;

}

div.profileHead{
    display: flex;
}

div.profilePicture{
    padding: 70px;
    margin: 10px;
}

div.profilePicture img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

div.profileContent{
    display: flex;
    flex-direction: column;
}

div.profileContent1, div.profileContent2{
    display: flex;
    padding: 10px 20px;
}

div.profileContent1 a{
    border: none;
    border-radius: 8px;
    padding: 0px;
    text-decoration: none;
    color: #000;
    background-color: #eee;
    font-size: 14px;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.profileContent1 div{
    padding: 0 10px;
}

div.profileContent1 i{
    font-size: 24px;
}

div.profileContent1 div span{
    padding: 10px 10px 10px 0;
    color: #000;
    font-size: 20px;
}

div.profileContent2 span{
    padding: 10px 10px 10px 0;
}

div.profileContent3{
    padding: 10px 20px;
}

div.profileContent3 a{
    text-decoration: none;
}

div.stories{
    display: flex;
}

div.stories img{
    border-radius: 50%;
    width: 77px;
    height: 77px;
}

.stories1, .stories2{
    padding: 0 15px;
}

.stories1 p, .stories2 p{
    text-align: center;
}

nav.contentNav{
    display: flex;
    border-top: #eee solid 1px;
    justify-content: center;
    padding-left: 460px;
    padding-right: 460px;
}

nav.contentNav div{
    padding: 0px 25px;
}

nav.contentNav a{
    text-decoration: none;
    color: #000000;
}

div.navItem{
    border-top: #000 solid 1px;
    color: #000;
}

div.contentFeed{
    display: flex;
}

div.post img{
    width: 309px;
    height: 309px;
}

ul.menu li:hover{
    background-color: #eee;
    border-radius: 8px;
    transition: 0.3s;
}

@media screen and (max-width: 500px) {
    div.containerNavBar{
        display: none;
    }

    div.profile{
        margin-left: 0px;
        padding-left: 0px;
    }

    div.profilePicture{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    nav.contentNav{
        padding-left: 300px;
        padding-right: 150px;
        display: flex;
    }

    div.post img{
        width: 139px;
        height: 139px;
    }
}
    
